/* Basic styling */
html {
	scroll-behavior: smooth;
      }
      
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
      
body {
	/* position: relative;
	width:100%; */
	width: 1440px;
	font-family: "Roboto", sans-serif;
	margin-inline: auto;
	background: #ffff;
	color: #ffff;
}
      
 ul {
	list-style: none;
}
      
a {
	text-decoration: none;
}
      
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* utilities  */

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 328px;
	height: 40px;
	font-size: 16px;
 	line-height: 16px;
 	font-weight: 700;
	color: #26292F; 
	background-color: #FF5533;
	border: 1px solid transparent;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

  }

  .highlight {
	font-weight: 700;
	font-size: 48px;
	line-height: 52px;
	color: #E5E5E5;
  }

  .color {
	color: #FF5533;
	display: contents;
  }

  .margin {
	margin-top: 18px;
  }

  .highlight-margin {
	margin-top: 52px;
	margin-left: 72px;
  }

  .form {
	padding: 0.1px;
	display: flex;
	flex-direction: column;
	gap: 30px;

	margin-inline: auto;
	width: 367px;
	height: 456px;
}

 .form-margin {
	margin-top: 44px;
 }

.input {
	width: 100%;
	height: 50px;
}

/* main */

.main {
	padding: 0.1px;
	width: 100%;
	height: 862px;
	background: #1E2027;
}


.header {
	display: flex;
	align-items: center;
	width: 924px;
	height: 60px;
	margin-inline: auto;
}

.header__container {
	margin-left: 72px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.logo {
	width: 123px;
	height: 12px;
}

.logo__text {
	font-size: 12px;
	line-height: 12px;
	color: #E5E5E5;
	font-weight: 700;
}

.bar {
	position: relative;
	width: 16px;
	height: 16px;
}

.bar__element {
	width: 16px;
	height: 0.75px;
	background: #E5E5E5;
}

.bar__element-margin1 {
	position: absolute;
	top: 2.25px;
}

.bar__element-margin2 {
	position: absolute;
	top: 7.38px;
}

.bar__element-margin3 {
	position: absolute;
	top: 13.2px;
}

.course {
	margin-top: 26px;
	margin-left: 324px;
}

.course__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75px;
	height: 24px;
	border: 1px solid #FF5533;
	border-radius: 42px
}

.course__text {
	font-size: 10px;
	font-weight: 400;
	color: #FF5533;
}

.course__description {
	margin-top: 30px;
	font-size: 12px;
	font-weight: 400;
	color: #E5E5E5;
}

.btn-topm {
	margin-top: 52px;
}

.graphic {
	position: absolute;
	top: 127px;
	left: 598px;
	margin-top: 100px;
	width: 842px;
	height: 349px;
}

.info {
	padding: 0.1px;
	margin-top: 258px;
	margin-inline: auto;
	width: 100%;
	height: 252px;
	background: url('../images/mmm.svg') no-repeat center center;
    background-size: cover; 
}

.info__container {
	margin-top: 117px;
	width: 725px;	
	margin-inline: auto;
	margin-top: 117px;
	display: flex;
	gap: 52px;
}

.item {
	display: flex;
	align-items: center;
	gap: 8px;
}

.item__img {
	width: 54px; 
	height: 54px;
}

.item__text {
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
}

.item__text-width1 {
	width: 68px;
}

.item__text-width2 {
	width: 80px;
}

.item__text-width3 {
	width: 78px;
}

.item__text-width4 {
	width: 95px;
}

.about {
	padding: 0.1px;
	width: 100%;
	height: auto;
	background: #26292F;
}

.about__container {
	margin-inline: auto;
	width: 924px;
	height: 1066px;

}

.about__container-inner {
	margin-top: 36px;
	display: flex;
	justify-content: space-between;
	gap: 36px;
	flex-wrap: wrap;
	width: 600px; 
	height: 600px;
	margin-inline: auto;
}

.element {
	
	width: 278px;
	height: 278px;
}

.element__gradient {
	position: relative;
	width: 260px; 
	height: 260px;
	border-radius: 20px;
	background: linear-gradient(270deg, #FA553300 0%, #FA55337D 49%);
}

.element_bg {
	top: 18px;
	left: 18px;
	position: relative;
	border-radius: 20px;
	width: 260px;
	height: 260px;
    border: 1px solid #FA5533;
	background: #26292F;
}


.elememt__inner {
	margin-left: 33px;
	margin-top: 26px;
}

.element__img {
	width: 120px;
	height: 120px;
	
}

.element__img-width1 {
	width: 120px;
	height: 120px;
	margin-bottom: 14px;
}


.element__img-width2 {
   width: 112px; 
   height: 95px;
   margin-bottom: 39px;
}

.element__img-width3 {
	width: 120px;
	height: 120px;
	margin-bottom: 15px;
}

.element__img-width4 {
	width: 120px;
	height: 100px;
	margin-bottom: 39px;
}

.elment__container {
	display: flex;
	align-items: center;
	width: 205px;
	height: 60px;
}

.element__text {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
}

.about__description {
	margin-top: -300px;
	margin-inline: auto;
	width: 608px;
	height: 189px;
}

.about__gradient {
	padding: 0.1px;
	width: 158px;
	height: 173px;
	background: linear-gradient(270deg, #FA553300  0%, #FA55337D 49%);
	border-radius: 20px;
}

.about__bg {
	background: linear-gradient(90deg, #FA553300  0%, #FA55334D 89%);
	padding: 0.1px;
	margin-top: 10px;
	margin-left: 18px;
	width: 590px;
	height: 177px;
	border: 1px solid #FA5533;
	border-radius: 20px;
}

.about__text {
	display: flex;
	align-items: center;
	height: 175px;
	width: 530px;
	margin-left: 30px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	
}

.about__contain {
	margin-inline: auto;
	margin-top: -30px;

	width: 924px;
}

.about-element {
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 0.1px;
	width: 607px;
	margin-inline: auto;
	background: #1E2027;
	border-radius: 20px;
}

.about-element__img {
	margin-inline: auto;
	width: 450px;
	height: 202px;
	margin-bottom: 5px;
}

.about-element__text {
	font-size: 18px;
	line-height: 28px;
	margin-top: 14px;
	margin-left: 19px;
	width: 588px;
}

.about-info {
	margin-bottom: 52px;
	width: 607px;
	height: 810px;
	margin-inline: auto;
	border-radius: 20px;
	border:1px solid #FA5533;
  }

.about-info__highlight {
	margin-top: 38px;
	margin-left: 48px;
	font-size: 22px;
	line-height: 34px;
	font-weight: 700;
}

.about-info__inner {
	margin-top: 42px;
	margin-left: 46px;
	width: 537px;
	display: flex;
	flex-wrap: wrap;
	gap: 46px;
}

.number {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px; 
	border-radius: 30px;
	border: 1px solid #FA5533;
}

.number__text {
	color: #FA5533;
	font-size: 18px;
	line-height: 28px;;
	font-weight: 400;
}

.about-info__description {
	font-size: 18px;
	line-height: 28px;;
	width: 447px;
}



.about__out {
	width: 924px;
	margin-inline: auto;
}


.hg__con {
	margin-top: 7px;
	display: flex;
	align-items: center;
	width: 500px;
	height: 165px;
}

.descr__cont {
	display: flex;
	align-items: center;
	width: 591px;
	height: 153px;
}

.about__out_description {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

.inn__cont {
	margin-bottom: 48px;
	margin-inline: auto;
	padding: 0.1px;
	width: 620px;
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.inn__element {
	position: relative;
	padding: 0.1px;
	width: 292px;
	height: 775px;
	background: #1E2027;
	border-radius: 20px;
}

.inn-height {
	height: 828px;
}

.inn__hg {
	margin-top: 24px;
	margin-left: 22px;
	font-size: 22px;
	line-height: 24px;
}

.inn__description {
	margin-left: 22px;
	margin-top: 12px;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
}



  .border-box {
	margin-inline: auto;
	margin-top: 20px;
	border-radius: 20px;
    width: 250px;   
    border: 1px solid #FF5533;
    position: relative;
  }

  .square {	
	background: red;
	background: #1E2027;
    width: 6px;
    height: 17px;
	border: 1px solid #FF5533;
    position: absolute;
  }

  .top {
	position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
	z-index: 0;
  }

 
  .bottom {
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
  }

  .left {
    left: -3.5px;
    top: 50%;
    transform: translateY(-50%);
  }

  .inn__text {
	margin: 20px 12px;
	font-size: 16px;
	line-height: 26px;
  }

  .inn__arrow {
	width: 55px;
	height: 67px;
	position: absolute;
	top: 250px;
	left: 200px;
  }

  .arrow-top {
	position: absolute;
	top: 280px;
  }

  .arrow-top1 {
	position: absolute;
	top: 370px;
}

.arrow-top2 {
	position: absolute;
	top: 390px;
}

.right {
    right: -3.5px;
    top: 50%;
    transform: translateY(-50%);
  }


.about__con {
	padding-top: 24px;
	width: 924px;
	margin-inline: auto;
}

.inner__con {
	margin-top: 24px;
	width: 610px;
	margin-inline: auto;
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}
.inner {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.el {
	height: auto;
	padding: 0.1px;
	width: 292px;
	border-radius: 20px;
	background: #1E2027;
}

.el-width1 {
	height: 360px;
}

.el-width2 {
	height: 260px;
}

.el-width3 {
	height: 211px;
}

.el-width4 {
	height: 264px;
}

.el_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 30px;
	border: 1px solid #FA5533;
}

.el__hg {
	font-size: 18px;
	line-height: 28px;
	color: #FA5533;
	font-weight: 400;
}

.el__text {
	font-size: 18px;
	line-height: 28px;
	margin: 20px;
}

.el_icon-sizes1 {
	width: 107px;
	height: 47px;
}

.el_icon-sizes2 {
	text-align: center; 
	width: 251px;
	height: 62px;

}

.el_icon-sizes3 {
	width: 66px;
	height: 40px;
}

.el_icon-sizes4 {
	width: 251px;
	height: 92px;
	text-align: center;
}

.about-outer {
	margin-bottom: 48px;
	width: 610px;
	display: flex;
	justify-content: space-between;
	margin-inline: auto;
	margin-top: 72px;
}

.about-outer-element {

	padding: 0.1px;
	border-radius: 20px;
	width: 292px;
	background: #1E2027;
	height: 461px;
}

.about-outer__hg {
	font-size: 25px;
	margin-top: 20px;
	margin-left: 20px;
}

.about-outer__description {
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	margin-left: 20px;
	margin-top: 10px;
}

.about-outer__img {
	margin-top: -70px;
	margin-left: 92px;
	width: 199px;
	height: 214px;
}

.form-mini {
	margin-top: 0;
	background: #1E2027;
	border: 1px solid #FA5533;
	width: 291px;
	height: 461px;
	border-radius: 20px;
	gap: 0;
}

.check-margin {
	margin-left: 20px;
	margin-top: 20px;
}

.input-m {
	margin-top: 20px;
	width: 248px;
	margin-left: 20px;
	margin-right: 40px;

}

.miny-btn {
	margin-top: 20px;
	width: 248px;
	margin-inline: auto;
}

/* contact */

.contact {
	width: 100%;
	height: 913px;
	background: #1E2027;
	padding: 0.1px;
}

.contact__about {
	margin-top: 48px;
	margin-left: 258px;
}

.contact__description {
	color: #E5E5E5;
	font-size: 18px;
	line-height: 29px;
}

.contact__image {
	margin-top: 74px;
	width: 316px;
	height: 135px;
	margin-inline: auto;
}


.input__item {
	width: 100%;
	color: #ffffff;
	height: 100%;
	border: none;
	outline: none;
	background: transparent;
	border-bottom:2px solid #26292F;
}

input::placeholder {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.checkbox__container { 
	display: flex;
	gap: 10px;
}

.checkbox {
	margin-top: 8px;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	appearance: none;
	border: 2px solid #FF5533;
	opacity: 60%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  input[type="checkbox"]::before {
	content: "✔"; 
	font-size: 16px;
	color: #FF5533;
	opacity: 0;
  }

  
  input[type="checkbox"]:checked::before {
	opacity: 1;
  }

  .form__btn {
	width: 367px;
	height: 50px;
	background: #26292F;
	color: #FF5533;
	border-radius: 5px;
  }

  .footer {
	width: 100%;
	padding: 0.1px;
	background: #1E2027;
  }

  .footer__container {
	width: 608px;
	margin-inline: auto;

	margin-top: 48px;
	margin-bottom: 48px;
  }

  .footer__hg {
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
  }

  .footer__line {
	margin-top: 16px;
	margin-bottom: 16px;
	height: 1px;
	width: 608px;
	background: #FFFFFF;
	opacity: 20%;
  }

  .footer__inner {
	display: flex;
	justify-content: space-between;
  }

  .footer__elment {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }

  .footer__name {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #FFFFFF;
	opacity: 30%;
  }

  .footer__list {
	display: flex;
	flex-direction: column;
	gap: 8px;
  }

  .footer__item {
	font-size: 12px;
	line-height: 12px;
	color: #E5E5E5;
  }

  .footer__item-high {
	line-height: 16px;
  }

  .footer__link {
	color: #E5E5E5;
  }

  .footer__about {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-top: 10px;
  }

  .footer__info {
	margin-bottom: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	width: 288px;
	height: 132px;
  }

  .footer__links {
	width: 100%;
	height: 22px; 
	display: flex;
	justify-content: space-between;
	align-items: center;
  }

  .footer__el-size1 {
	width: 23px;
	height: 13px;
  }

  .footer__el-size2 {
	width: 22px ;
	height: 16.5px;
  }

  .footer__el-size3 {
	width: 20px; 
	height: 17px;
  }


  .footer__el-size4 {
	width :22px; 
	height: 22px;
  }

  .footer__text {
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
  }

  .footer__btn {
	width: 231px;
	height: 50px;
	border: 1px solid #F3F3F3;
	color: #F3F3F3;
	background: transparent;
  }

  .footer__cont {
	display: flex;
	justify-content: space-between;
  }

  .footer__items {
	width: 250px;
	display: flex;
	flex-direction: column;
	gap: 2px;
  }

  .footer__items-width {
	width: 135px;
  }

  .footer__it-img {
	width: 68px;
	height: 29px;
  }

  .footer__it{
	color: #E5E5E5;
	display: flex;
	align-items: center;
	height: 30px;
  }

  .footer__policy {
	margin-top: 13px;
	display: flex;
	align-items: center;
	width: 605px;
	font-size: 10px;
	line-height: 16px;
	color: #FFFFFF;
	opacity: 30%;
	height: 51px;
  }

  @media (max-width: 1023px) {
	body {
		width: 100%;
		border: 5px solid red;
	}

	.graphic {
	  top: 160px;
	  left: 100px;
	  width: 842px;
	  height: 349px;
	}
  }

  @media (max-width: 767px) {
	body {
		width: 100%;
		border: 5px solid navy;
	}

	.main {
		height: 600px;
	}

	.graphic {
		display: none;
	}

	.highlight {
		font-size: 24px;
		line-height: 32px;
	}

	.header {
		border: 1px solid red;
		width: 320px;
	}
	
	.course {
		width: 340px;
		border: 1px solid red;
		margin-inline: auto;
	}

	.info {
		margin-top: 50px;
	}

	.info__container {
		margin-top: 50px;
		width: 320px;
		width: 320px;
		flex-wrap: wrap;
		gap: 30px;
	}

	.about__container {
		width: 320px;
	    height: 1200px;

	}

	.about__container-inner {
		width:320px;
	}

	.about__container-inner {
		width: 320px;
	}

	.about__description {
		width: 380px;
	
		margin-top: 200px;
	}
	
	.about__bg {
		
		width: 300px;
	   }

	.about__text {
		font-size: 12px;
		width: 250px
	   }

	.about__contain {
		width: 350px;
	
	}

	.about-element {
		width: 350px;
	}

	.about-element__img {
		width: 250px;
	}

	.about-element__text {
		font-size: 11px;
	}

	.about-info {
		width: 350px;
	}

	.about-info__inner {
		margin-left: 20;
		width: 350px;
		gap: 10px;
	}

	.about-info__description {
		font-size: 14px;
		line-height: 24px;
	}

	.about__out {
		width: 350px;
	}

	.descr__cont {
		width: 350px;
		margin-bottom: 30px;
	}

	.about__out_description {
		font-size: 16px;
	}

	.inn__cont {
		width: 350px;
		justify-content: center;
	}

	.about__con {
		
		width: 350px;
	}

	.inner__con {
		width: 350px;
	}

	.about-outer {
		gap: 20px;
		width: 350px;
		flex-wrap: wrap;
	}

	.form-mini {
	
		margin-left: 5px;
	}

	.contact {
		height: 800px;
	}

	.contact__about {
		margin-left: 30px;
	}

	.footer__container {
		width: 350px;
	
	}



	
  }

  

  @media (max-width: 480px) {
	.box {
	  background: red;
	  width: 100%;
	  font-size: 14px;
	}

   .about__container {
	width: 320px;
	border: 1px solid yellow;
   }

 
  }













